<% if topics.any? %>
  <ul class="list-unstyled mt-2">
    <div class="row">
    <% topics.each do |topic| %>
    <div class="col-md-4">
      <li class="d-flex">
        <div>
          <div>
            <%= link_to topic.user.name, user_path(topic.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= topic.created_at %></span>
          </div>
          <div>
            <p>
            <%= image_tag topic.image.url, width: 250 if topic.image? %>
            </p>
          </div>
          <div>
            <p><%= topic.description %></p>
          </div>
          <div>
            <% if current_user == topic.user %>
              <%= link_to "Delete", topic, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <%= render 'favorites/favorite_button', topic: topic %>
          </div>
        </div>
        </div>
      </li>
    <% end %>
    </div>
  </ul>
<% else %>
  <p>該当する検索結果がありません</p>
<% end %>