<% if logged_in? %>
   <div class="row">
     <aside class="col-sm-4">
      <%= form_with(model: @topic) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
        <div class="mb-3">
          <%= f.label :image, '画像ファイルを選択' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :description, 'Description' %>
          <%= f.text_area :description, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
      <% end %>
     </aside>
       <div class="col-sm-8">
        <%= render 'topics/topics', topics: @topics %>
       </div>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-white">Photo Memories</h1>
    <p class="lead text-white">〜思い出を共有しよう〜</p>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-info' %>
  </div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="images/topcard.jpg" class="card-img-top-center" alt="...">
      <div class="card-body">
        <h5 class="card-title">Photo Memories</h5>
        <p class="card-text">本アプリは、「景色」「風景」「景観」などの写真を共有する専用アプリとなっております。</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/topcover2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">function</h5>
        <p class="card-text">思い出の投稿。共感写真のお気に入り。人気ランキング。思い出の検索。お気に入りの閲覧。</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/topcover5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">thought</h5>
        <p class="card-text">旅行やスポット旅が好きで、その思い出を共有したく本アプリを作成。皆様の思い出の１枚をご共有ください。</p>
      </div>
    </div>
  </div>
</div>

<% end %>