<h1 class="text-center border border-info">Top Memories</h1>
<%= render 'topics/ranking', topics: @ranking %>
<h1 class="text-center border border-primary">TimeLine</h1>
<div class="search-form">
  <%= form_with url: timeline_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: params[:keyword] %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<%= render 'topics/topics', topics: @topics %>


